C#DerstenBağımsızlar/
Videolar/
1.Hafta/
AkıllıEv/
1.DonemDuzenleme/
Icons/
IconsV2/
Notlar/
3.Hafta (29.02.24)/DersPart-I/.vs/
4.Hafta (07.03.24)/Ders/.vs/
5.Hafta(14.03.24)/.vs/
6.Hafta(21.03.24)/.vs/
7.Hafta(28.03.24)/.vs/
10.Hafta(18.04.24)/.vs/
11.Hafta(02.05.24)/.vs/
12.Hafta(16.05.24)/.vs/
13.Hafta (23.05.24)/.vs/
14.Hafta_Lab(30.05.24)/.vs/
Lab-13 (23.05.24)/.vs/
12.Hafta(16.05.24)/obj/Debug/DesignTimeResolveAssemblyReferences.cache
